.faqSection {
    margin: 0 auto;
    padding: 50px 20px;
    background-color: #000000;
    color: white;
    text-align: center;
}

.title {
    font-size: 48px;
    font-weight: bold;
    color: white;
    margin-bottom: 30px;
}

.accordion {
        max-width: 1200px;
    margin: 0 auto;
}

.faqItem {
    background-color: white;
    color: #D12C44;
    border-radius: 10px;
    margin-bottom: 15px;
    text-align: left;
    overflow: hidden;
}

.faqQuestion {
    background-color: white;
    color: #D12C44;;
    font-size: 22px;
    font-weight: bold;
    width: 100%;
    padding: 15px;
    border: none;
    cursor: pointer;
    text-align: left;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faqAnswer {
    max-height: 0;
    overflow: hidden;
    background-color: #ffffff;
    color: #666666;
    padding: 0 15px;
    font-size: 16px;
    line-height: 1.5;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    visibility: hidden;
}

.show {
    max-height: 200px;
    padding: 15px;
    background-color: #f1f1f1;
    opacity: 1;
    visibility: visible;
}
.faqItem:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.icon {
    font-size: 24px;
    transition: transform 0.3s ease;
}

.rotateIcon {
    transform: rotate(180deg);
}

@media (max-width: 768px) {
    .title {
        font-size: 30px;
    }

    .faqQuestion {
        font-size: 18px;
        padding: 10px;
    }

    .faqAnswer {
        font-size: 14px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .title {
        font-size: 36px;
    }

    .faqQuestion {
        font-size: 20px;
        padding: 12px;
    }

    .faqAnswer {
        font-size: 16px;
    }
}

@media (min-width: 1025px) {
    .faqSection {
        padding: 60px 40px;
    }

    .faqQuestion {
        font-size: 24px;
        padding: 20px;
    }

    .faqAnswer {
        font-size: 18px;
    }

    .accordion {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    .faqItem {
        width: 100%;
    }
}