.pricingSection {
    padding: 20px;
    background-color:#000000;
    color: white;
    width: 100%;
    box-sizing: border-box;
   
}

.descrHelp {
    color: rgb(245, 245, 245);
    background-color: #730000ab;
    border: 1px solid #D12C44;
    border-radius: 16px;
    padding: 12px;
    text-align: center;
    margin-bottom: 32px;
    font-size: 20px;
}

.textCenter {
    text-align: center;
}

.spanColor {
    color: #D12C44;
}

.title {
    font-size: 48px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 40px;
}

.subtitle {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 50px;
}

.gridContainer {
   display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-items: center;
    row-gap: 32px;
}
.gridContainer>div:last-child {
    margin-right: 0;
}
.pricingCard {
    background-color: #ffffff;
    color: #D12C44;
    padding: 30px;
    display: flex;
    width: 328px;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.pricingCard:hover {
    transform: translateY(-10px);
}

.cardHeader {
    margin-bottom: 20px;
}

.cardTitle {
    font-size: 24px;
    font-weight: bold;
margin: 0;
}

.cardPrice {
    font-size: 32px;
    color: #D12C44;
}

.featureList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.featureItem {
    font-size: 16px;
    color: #000000;
    margin-bottom: 10px;
}

.centerBox {
    width: 100%;
    display: flex;
    justify-content: center;
}

.ctaButton {
    display: inline-block;
    padding: 15px 30px;
    font-size: 20px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    margin: 0 auto;
    background: linear-gradient(to bottom, #333 0%, #d22 100%);
    border: none;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.ctaButton:hover {
    background: linear-gradient(to bottom, #444 0%, #e33 100%);
}



@media (max-width: 1024px) and (min-width: 768px) {
    .title {
        font-size: 36px;
    }

    .subtitle {
        font-size: 16px;
    }

    .pricingCard {
        padding: 20px;
    }

    .cardPrice {
        font-size: 28px;
    }

    .selectButton {
        padding: 12px 25px;
    }
}

@media (max-width: 767px) {
    .pricingSection{
         display: flex;
    flex-direction: column;
    align-items: center;
    }
    .title {
        font-size: 30px;
    }

    .subtitle {
        font-size: 14px;
    }

    .pricingCard {
        padding: 15px;

    }

    .cardPrice {
        font-size: 24px;
    }

    .selectButton {
        padding: 12px 25px;
    }
}

@media (min-width: 1024px) {
    .title {
        font-size: 48px;
    }

    .subtitle {
        font-size: 18px;
    }

    .pricingCard {
        padding: 30px;
        display: flex;
        width: 320px;
            flex-direction: column;
            justify-content: space-between;
    }

    .cardPrice {
        font-size: 32px;
    }

    .selectButton {
        padding: 15px 30px;
    }
}