.immigrationServicesSection {
    margin: 0 auto;
    padding: 50px 46px;
    background-color: #003366;
    color: white;
    text-align: center;
}

.title {
    font-size: 48px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 30px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.description {
    font-size: 18px;
    color: #ffffff;
    line-height: 1.6;
    margin-bottom: 50px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

.consultationText {
    font-size: 18px;
    color: #003366;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: left;
        margin-bottom: 60px;
}

.consultationText p {
    margin-bottom: 20px;
}

.consultationText strong {
    color: #ff3333;
    font-weight: bold;
}

.servicesGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

.serviceItem {
    background-color: #ffffff;
    color: #003366;
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    /* height: 520px; */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    transition: transform 0.8s ease, box-shadow 0.8s ease, border 0.8s ease;
}

.serviceItem:hover {
    box-shadow:  0 16px 32px rgba(238, 53, 53, 0.5);
    border:  3px solid #e60000;
}

.serviceIcon {
    font-size: 48px;
    color: #ff3333;
    margin-bottom: 20px;
}

.serviceTitle {
    font-size: 26px;
    font-weight: bold;
    color: #003366;
    margin-bottom: 10px;
}

.serviceDescription {
    font-size: 20px;
    color: #666666;
    font: 500;
    line-height: 1.5;
}

.ctaButton {
    padding: 15px 30px;
    background-color: #ff3333;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 50px;
}

.ctaButton:hover {
    background-color: #e60000;
}

@media (max-width: 1024px) and (min-width: 768px) {
    .title {
        font-size: 36px;
    }

    .description {
        font-size: 16px;
    }

    .consultationText {
        font-size: 16px;
        padding: 20px;
    }

    .servicesGrid {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .serviceItem {
        padding: 25px;
        width: 100%;
        /* height: 640px; */
    }

    .serviceIcon {
        font-size: 32px;
    }

    .ctaButton {
        padding: 14px 28px;
    }
}

@media (max-width: 768px) {
    .title {
        font-size: 30px;
    }

    .description {
        font-size: 14px;
    }

    .consultationText {
        font-size: 14px;
        padding: 15px;
    }

    .servicesGrid {
        grid-template-columns: 1fr;
    }

    .serviceItem {
        padding: 20px;
        width: 100%;
        height: max-content;
    }

    .serviceIcon {
        font-size: 40px;
    }

    .ctaButton {
        padding: 12px 25px;
    }
}

@media (min-width: 1024px) and (max-width: 1540px) {
    .title {
        font-size: 42px;
    }

    .description {
        font-size: 17px;
    }

    .consultationText {
        font-size: 16px;
        padding: 25px;
    }

    .servicesGrid {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 40px;
    }

    .serviceItem {
        padding: 18px;
    }

    .serviceIcon {
        font-size: 45px;
    }

    .ctaButton {
        padding: 14px 28px;
    }
        .serviceDescription {
            width: 367px;
        }
}

.serviceDescription ul {
    list-style-type: disc;
    margin-left: 20px;
    padding-left: 0;
    text-align: left;
}

.serviceDescription li {
    margin-bottom: 8px;
    line-height: 1.5;
    color: #555;
}

.ctaButton {
    padding: 15px 30px;
    background-color: #ff3333;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 50px;
}

.ctaButton:hover {
    background-color: #e60000;
}