.immigrationServicesSection {
    margin: 0 auto;
    padding: 20px 20px 50px 20px;
    background-color: #000000;
    color: white;
    text-align: center;
    background-image: url("../../assets/images/ellipse.png");
    background-size: 122%;
    background-position: center;
}

.title {
    font-size: 48px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 20px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.spanText {
    color: #D12C44;
}

.description {
    font-size: 18px;
    color: #ffffff;
    line-height: 1.6;
    margin-bottom: 50px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

.consultationText {
    font-size: 18px;
    color: #D12C44;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: left;
        margin-bottom: 60px;
}

.consultationText p {
    margin-bottom: 20px;
}

.consultationText strong {
    color: #ff3333;
    font-weight: bold;
}

.servicesGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

.serviceItem {
    background-color: rgb(247, 247, 247);
    color: #D12C44;
    padding: 30px;
    border-radius: 16px;
    width: 100%;
    /* height: max-content !important; */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.serviceIcon {
    width: 32px;
    height: 32px;
    color: #D12C44;
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
}

.serviceIcon svg {
    width: 32px;
    height: 32px;
}

.serviceTitle {
    font-size: 26px;
    font-weight: 700;
    color: #D12C44;
    margin-bottom: 10px;
    margin-top: 0;
    height: 60px;
}

.serviceDescription {
    font-size: 20px;
    color: #666666;
    font-weight: 600;
    line-height: 1.5;
   
    padding: 12px;
    margin-bottom: 0;
}

.serviceItemBorder{
    border: 6px solid #D12C44;
        border-radius: 16px;
        height: 100%;
}

.flexAlign {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 100%;
}

.centerBox {
    width: 100%;
    display: flex;
    justify-content: center;
}

.ctaButton {
    display: inline-block;
    padding: 15px 30px;
    font-size: 20px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    margin: 0 auto;
    background: linear-gradient(to bottom, #333 0%, #d22 100%);
    border: none;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.ctaButton:hover {
    background: linear-gradient(to bottom, #444 0%, #e33 100%);
}

.descrText {
    z-index: 5;
    font-size: 16px;
    color: rgb(247, 247, 247);
    margin-bottom: 40px;
    font-weight: 500;
    border: 1px solid #D12C44;
    padding: 12px;
    border-radius: 6px;
    background-color: #333333a3;
    text-align: center;
    font-size: 600;
    width: 100%;
    max-width: 340px;
    margin-left: auto;
    margin-right: auto;
}

.boxTextPoz {
    width: 100%;
    margin-bottom: 60px;
}

.boxTextPoz h3 {
    border-top: 1px solid #D12C44;
    border-bottom: 1px solid #D12C44;
    padding: 12px 0px;
    margin-top: 6px;
    margin-bottom: 28px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.boxTextPoz h4 {
    margin: 0;
    color: #D12C44;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
}

.boxTextPoz p {
    color: rgb(245, 245, 245);
    background-color: #730000ab;
    border: 1px solid #D12C44;
    border-radius: 16px;
    padding: 12px;
    text-align: center;
    margin-top: 12px;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}

.textQw {
    color: #D12C44;
}


@media  (min-width: 768px) and (max-width:1439px) {
    .title {
        font-size: 36px;
    }

    .description {
        font-size: 16px;
    }

    .consultationText {
        font-size: 16px;
        padding: 20px;
    }

    .servicesGrid {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .serviceItem {
        padding: 25px;
        width: 100%;
        min-width: 330px;    }

    .serviceIcon {
        font-size: 32px;
    }

    .ctaButton {
        padding: 14px 28px;
    }

        .serviceItemBorder{
            height: 80%;
        }
}

@media (max-width: 767px) {
    .title {
        font-size: 30px;
    }

    .description {
        font-size: 14px;
    }

    .consultationText {
        font-size: 14px;
        padding: 15px;
    }

    .servicesGrid {
        grid-template-columns: 1fr;
        gap: 36px;
    }

    .serviceItem {
        padding: 20px;
        width: 100%;
        height: max-content;
    }

    .serviceIcon {
        font-size: 40px;
    }

    .ctaButton {
        padding: 12px 25px;
    }
        .serviceItemBorder{
            height: max-content;
        }
}

@media  (min-width: 1440px) {
    .title {
        font-size: 42px;
    }

    .description {
        font-size: 17px;
    }

    .consultationText {
        font-size: 16px;
        padding: 25px;
    }

    .servicesGrid {
        margin: 0 auto;
        grid-template-columns: repeat(4, 1fr);
    justify-items: center;
        row-gap: 45px;
        /* width: 1340px; */
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 30px;
    }

    .serviceItem {
        padding: 18px;
        width: 100%;
        max-width: 330px;
       display: flex;
       flex-direction: column;
       align-items: center;
    }

    .serviceIcon {
        font-size: 45px;
    }

    .ctaButton {
        padding: 14px 28px;
    }
        .serviceDescription {
            width: 250px;
        }
}

.serviceDescription ul {
    list-style-type: disc;
    margin-left: 20px;
    padding-left: 0;
    text-align: left;
}

.serviceDescription li {
    margin-bottom: 8px;
    line-height: 1.5;
    color: #555;
}

.ctaButton {
    padding: 15px 30px;
    background-color:  #9e0000;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 50px;
}

.ctaButton:hover {
    background-color: #9e0000ba;
}